:root {
  --theme-elevation-100: #b3ccff;
 --theme-elevation-200: #7196f4;
 --theme-elevation-800: #2155c5;
// --color-base-0: #ffffff00;
}
.card{
  background-color: var(--theme-elevation-100);
  border: 1px solid  var(--theme-elevation-200);
  border-radius: 1px;
}
.app-header{
  background-color: #c3d5f9;
}
.nav{
  background-color: #e7efff;
}
// .btn__content{
//   color: white;
// }